 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2" text-align="right">
                    <p>I am a recent UCSC Computer Science grad with experience in
                    signal processing, front-end development, and Android. I have a strong background in
                    object oriented design and Scrum engineering practices. Most of all, I am adaptable
                    and eager to learn!</p>
                </div>
                <div class="col-lg-4">
                    <p><b>Languages:</b> C, C++, Java, Python.</p>
                    <p><b>Web: </b> HTML, CSS, JavaScript frameworks, test frameworks.</p>
                    <p><b>Design: </b> PhotoShop, InDesign, Canva.</p>
                    <p>My design aesthetic is accessible and flexible.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="NicoleThompson_Resume_Public.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
